## Elo Rating method

This is the Elo method.  The example is taken from "Who's #1" by Langville and Meyer and the results match.  Note, the data includes the entire 2009 NFL season, including all playoff games.  

Reference: https://www.gautamnarula.com/rating/

In [1]:
import math 
  
# Function to calculate the Probability 
def Probability(rating1, rating2): 
  
    return 1.0 * 1.0 / (1 + 1.0 * math.pow(10, 1.0 * (rating1 - rating2) / 400)) 
  
# Function to calculate Elo rating 
# K is a constant. 
# Player A wins over Player B.  
# tie = true if tie, false otherwise
def EloRating(Ra, Rb, K, tie): 
    
    # To calculate the Winning 
    # Probability of Player B 
    Pb = Probability(Ra, Rb) 
  
    # To calculate the Winning 
    # Probability of Player A 
    Pa = Probability(Rb, Ra) 
  
    # Updating the Elo Ratings 
    if tie:
       Ra = Ra + K * (1/2 - Pa) 
       Rb = Rb + K * (1/2 - Pb) 
    else:        
       Ra = Ra + K * (1 - Pa) 
       Rb = Rb + K * (0 - Pb) 
    
    return Ra, Rb

In [2]:
gameFilename = 'data/2008games.txt'
teamFilename = 'data/2008teams.txt'

k = 10

### Load the team names into an array

In [3]:
import pandas as pd

teamNames = pd.read_csv(teamFilename, header = None)
numTeams = len(teamNames)

### Load the games

In [4]:
# columns of games are:
#	column 0 = days since 1/1/0000
#	column 1 = date in YYYYMMDD format
#	column 2 = team1 index
#	column 3 = team1 homefield (1 = home, -1 = away, 0 = neutral)
#	column 4 = team1 score
#	column 5 = team2 index
#	column 6 = team2 homefield (1 = home, -1 = away, 0 = neutral)
#	column 7 = team2 score
games = pd.read_csv(gameFilename, header = None)
numGames = len(games)

### Create Elo ratings

In [5]:
import numpy as np

print(">>>>>>> I'm not including ties.")

eloRatings = np.zeros(numTeams)

for i in range(numGames):
    team1ID = games.loc[i, 2] - 1 # subtracting 1 since python indexes at 0
    team1Score = games.loc[i, 4]
    team2ID = games.loc[i, 5] - 1 # subtracting 1 since python indexes at 0
    team2Score = games.loc[i, 7]

    if team1Score > team2Score:
        team1Rating, team2Rating = EloRating(eloRatings[team1ID], eloRatings[team2ID], 32, False)
    elif team1Score < team2Score:
        team2Rating, team1Rating = EloRating(eloRatings[team2ID], eloRatings[team1ID], 32, False)
    else:  
        team1Rating, team2Rating = EloRating(eloRatings[team1ID], eloRatings[team2ID], 32, True)
        
    eloRatings[team1ID] = team1Rating
    eloRatings[team2ID] = team2Rating

>>>>>>> I'm not including ties.

### Sort and print the ranking of teams

In [6]:
iSort = np.argsort(-eloRatings)

print('\n\n************** ELO Rating Method **************\n')
print('===========================')
print('Rank   Rating      Team   ')
print('===========================')
for i in range(numTeams):
    print(f'{i+1:4d}   {eloRatings[iSort[i]]:.5f}  {teamNames.loc[iSort[i],1]}')

print('')   # extra carriage return

************** ELO Rating Method **************

===========================
Rank   Rating      Team
===========================
   1   315.31884   North_Carolina
   2   312.40885   Memphis
   3   292.01711   UCLA
   4   276.73327   Kansas
   5   265.32082   Wisconsin
   6   255.68532   Tennessee
   7   245.99904   Butler
   8   240.37260   Texas
   9   235.84473   Georgetown
  10   221.22033   Drake
  11   218.72411   Xavier
  12   214.92761   Duke
  13   212.10799   Davidson
  14   210.15791   Kent
  15   205.31408   Stanford
  16   195.73885   W_Kentucky
  17   192.98968   BYU
  18   192.92053   Pittsburgh
  19   191.58408   UNLV
  20   188.07844   Louisville
  21   181.74699   Notre_Dame
  22   174.00486   Connecticut
  23   168.66207   Robert_Morris
  24   168.60739   Vanderbilt
  25   165.45729   Clemson
  26   165.06855   Gonzaga
  27   163.88194   South_Alabama
  28   158.92820   Washington_St
  29   158.92737   Michigan_St
  30   158.24043   Purdue
  31   156.54852   Indiana
  32   154.93935   Illinois_St
  33   152.97859   Cornell
  34   151.68993   Temple
  35   150.67566   VA_Commonwealth
  36   149.80601   West_Virginia
  37   149.35873   CS_Fullerton
  38   148.80650   Belmont
  39   147.86575   Marquette
  40   146.67847   Boise_St
  41   146.21178   Mississippi_St
  42   144.79808   USC
  43   141.50368   St_Mary's_CA
  44   139.37381   Siena
  45   138.58813   New_Mexico
  46   137.36880   Oklahoma
  47   137.02121   SF_Austin
  48   135.20532   Oral_Roberts
  49   133.16999   IUPUI
  50   132.56825   UAB
  51   130.48695   Portland_St
  52   128.14530   Texas_A&M
  53   127.15004   Austin_Peay
  54   126.46724   Arkansas
  55   126.36587   MD_Baltimore_Co
  56   124.46637   Massachusetts
  57   117.87296   Wagner
  58   117.41674   American_Univ
  59   116.55366   Utah_St
  60   112.65034   Kentucky
  61   112.03933   Rider
  62   111.27832   Dayton
  63   110.69877   St_Joseph's_PA
  64   107.82589   Tulsa
  65   107.64181   Villanova
  66   107.52858   Miami_FL
  67   107.06165   George_Mason
  68   106.79918   San_Diego
  69   105.68666   Creighton
  70   104.96427   Akron
  71   102.63792   Santa_Barbara
  72   101.99044   Virginia_Tech
  73   97.30112   Brown
  74   93.89074   Houston
  75   93.77345   Nevada
  76   93.36701   Winthrop
  77   91.77095   Baylor
  78   91.08704   Charlotte
  79   90.34114   Kansas_St
  80   88.82755   New_Mexico_St
  81   88.78029   Nebraska
  82   88.74229   Florida_St
  83   87.55184   Cleveland_St
  84   86.85207   Wright_St
  85   85.93726   Morgan_St
  86   79.95361   Arizona_St
  87   79.92087   Syracuse
  88   78.53282   Mississippi
  89   77.02504   W_Michigan
  90   75.44728   Oregon
  91   74.07123   Florida
  92   73.37606   Oklahoma_St
  93   72.29542   Ohio_St
  94   71.97014   UNC_Asheville
  95   69.81174   Mt_St_Mary's
  96   69.47387   Sam_Houston_St
  97   69.38476   S_Illinois
  98   68.14645   Pacific
  99   66.12889   Arizona
 100   65.20669   Niagara
 101   64.29207   Sacred_Heart
 102   63.96814   UNC_Greensboro
 103   62.90590   Northern_Arizona
 104   62.27914   Minnesota
 105   60.84426   Valparaiso
 106   60.83009   UNC_Wilmington
 107   60.52553   San_Diego_St
 108   56.35153   Georgia
 109   54.68364   Maryland
 110   54.55738   Southern_Miss
 111   54.38632   Rhode_Island
 112   53.50797   Loyola_MD
 113   53.43729   CS_Northridge
 114   53.16553   UT_Arlington
 115   52.77327   UTEP
 116   51.99596   Ark_Little_Rock
 117   47.53751   Middle_Tenn_St
 118   45.29112   Ohio
 119   44.92119   North_Texas
 120   43.22819   Wake_Forest
 121   41.58356   UC_Irvine
 122   41.21649   Lamar
 123   40.50595   ETSU
 124   39.99305   Bradley
 125   38.74213   Colgate
 126   38.44867   Miami_OH
 127   38.06591   Georgia_Tech
 128   37.67011   Richmond
 129   35.93468   Texas_Tech
 130   35.44555   Northern_Iowa
 131   31.15278   Illinois
 132   30.80721   Alabama
 133   29.88484   Alabama_St
 134   29.16433   Old_Dominion
 135   28.09565   Missouri_St
 136   27.92505   Utah
 137   27.65153   IL_Chicago
 138   26.51599   Marist
 139   26.30539   Ga_Southern
 140   25.94038   Jacksonville
 141   25.60235   Navy
 142   25.55049   Washington
 143   24.76743   California
 144   18.87866   Hartford
 145   18.48403   Appalachian_St
 146   16.42246   Hampton
 147   16.28374   Duquesne
 148   15.91135   Air_Force
 149   15.39507   Virginia
 150   15.25159   Oakland
 151   15.09035   Penn_St
 152   12.48074   MS_Valley_St
 153   11.36933   St_Louis
 154   10.81655   William_&_Mary
 155   9.94535   Missouri
 156   8.87176   La_Salle
 157   8.02839   Providence
 158   7.80733   Chattanooga
 159   7.79990   N_Dakota_St
 160   5.20410   UCF
 161   4.88777   Weber_St
 162   3.84434   Tulane
 163   3.28359   Marshall
 164   2.17132   Fairfield
 165   1.86782   ULL
 166   1.25568   New_Orleans
 167   1.08843   South_Carolina
 168   0.93206   Seton_Hall
 169   -1.91918   Indiana_St
 170   -4.89462   Vermont
 171   -6.04059   Murray_St
 172   -6.41874   TX_Pan_American
 173   -9.02913   WI_Green_Bay
 174   -9.23167   FL_Atlantic
 175   -9.48589   TN_Martin
 176   -11.22857   LSU
 177   -11.29148   Central_Conn
 178   -11.45281   Coppin_St
 179   -13.14296   Quinnipiac
 180   -14.46090   Northeastern
 181   -14.51164   Boston_Univ
 182   -15.30255   Northwestern_LA
 183   -16.05186   Col_Charleston
 184   -17.25208   SE_Louisiana
 185   -17.28958   NC_State
 186   -18.12090   Cincinnati
 187   -19.78510   Holy_Cross
 188   -20.14266   Gardner_Webb
 189   -20.60665   High_Point
 190   -22.12902   Albany_NY
 191   -22.21791   Boston_College
 192   -22.34286   Lipscomb
 193   -22.56814   Army
 194   -22.76300   Stetson
 195   -24.83465   Tennessee_St
 196   -24.92470   Lehigh
 197   -25.14043   Elon
 198   -29.44586   Utah_Valley
 199   -29.60148   TCU
 200   -30.59906   E_Michigan
 201   -30.75574   WI_Milwaukee
 202   -31.96149   Auburn
 203   -33.55516   C_Michigan
 204   -33.71018   Long_Island
 205   -33.93777   Fordham
 206   -34.83821   Binghamton
 207   -35.15875   Delaware_St
 208   -35.42833   Penn
 209   -37.49038   Delaware
 210   -37.76873   DePaul
 211   -37.98007   Norfolk_St
 212   -38.67029   Yale
 213   -39.19182   Hofstra
 214   -41.60126   Florida_A&M
 215   -42.68506   St_John's
 216   -44.15672   Towson
 217   -44.35798   Morehead_St
 218   -44.90073   Lafayette
 219   -45.71481   Toledo
 220   -46.29356   Iowa_St
 221   -47.05358   G_Washington
 222   -47.05439   Southern_Utah
 223   -47.11941   Alabama_A&M
 224   -47.40986   Santa_Clara
 225   -47.57945   Liberty
 226   -48.16231   Columbia
 227   -52.18773   Colorado
 228   -53.10947   Montana
 229   -54.22353   Iowa
 230   -55.42214   IPFW
 231   -57.48569   Wofford
 232   -58.91300   South_Florida
 233   -59.59480   Bowling_Green
 234   -62.63107   Texas_St
 235   -62.70606   Samford
 236   -62.91840   Montana_St
 237   -63.03090   N_Colorado
 238   -63.45850   Wyoming
 239   -65.40390   Jackson_St
 240   -66.13619   Loyola-Chicago
 241   -66.29038   McNeese_St
 242   -67.11822   Michigan
 243   -68.91089   UT_San_Antonio
 244   -70.00223   NC_A&T
 245   -70.08639   VMI
 246   -70.47298   Idaho_St
 247   -71.45818   E_Kentucky
 248   -71.69570   Bucknell
 249   -73.06426   Rutgers
 250   -73.90506   Fresno_St
 251   -75.82293   Coastal_Car
 252   -79.39238   S_Carolina_St
 253   -79.42618   East_Carolina
 254   -81.77297   James_Madison
 255   -82.04045   Savannah_St
 256   -82.72185   Chicago_St
 257   -82.89025   Cal_Poly_SLO
 258   -84.69009   TAM_C._Christi
 259   -86.27938   Tennessee_Tech
 260   -86.43109   Iona
 261   -87.20312   San_Jose_St
 262   -92.61917   Manhattan
 263   -92.72066   SMU
 264   -93.01607   Hawaii
 265   -94.99725   Troy
 266   -95.55783   Wichita_St
 267   -97.57661   Nicholls_St
 268   -97.76222   Pepperdine
 269   -97.79823   W_Illinois
 270   -99.99626   UC_Riverside
 271   -100.93949   Florida_Intl
 272   -100.94793   E_Washington
 273   -101.11414   Denver
 274   -101.60572   Kennesaw
 275   -105.44284   Missouri_KC
 276   -107.52332   Drexel
 277   -109.70846   Radford
 278   -110.40427   Cent_Arkansas
 279   -111.38150   Buffalo
 280   -111.38557   Houston_Bap
 281   -111.71516   San_Francisco
 282   -113.28614   W_Salem_St
 283   -113.65242   Idaho
 284   -114.41377   Evansville
 285   -115.36836   Dartmouth
 286   -115.80569   Georgia_St
 287   -116.40898   Northwestern
 288   -116.98721   Southern_Univ
 289   -117.47842   Ark_Pine_Bluff
 290   -118.15327   W_Carolina
 291   -130.05378   FL_Gulf_Coast
 292   -130.54274   New_Hampshire
 293   -132.56518   St_Bonaventure
 294   -133.55437   Charleston_So
 295   -134.10660   Furman
 296   -134.65500   Arkansas_St
 297   -135.65699   Youngstown_St
 298   -137.01404   F_Dickinson
 299   -139.00215   Grambling
 300   -139.15147   Mercer
 301   -139.89652   ULM
 302   -143.31324   CS_Bakersfield
 303   -147.47088   E_Illinois
 304   -149.31057   Portland
 305   -150.55877   Harvard
 306   -152.58408   SC_Upstate
 307   -153.69481   Campbell
 308   -153.84998   Detroit
 309   -154.19273   Longwood
 310   -154.80655   Ball_St
 311   -155.74146   Centenary
 312   -156.70693   St_Francis_NY
 313   -159.66292   Canisius
 314   -159.92326   SE_Missouri_St
 315   -160.88618   Louisiana_Tech
 316   -161.64480   Monmouth_NJ
 317   -162.04634   Oregon_St
 318   -162.38181   Bethune-Cookman
 319   -167.10960   N_Illinois
 320   -167.44031   Colorado_St
 321   -167.85446   Stony_Brook
 322   -168.83907   Prairie_View
 323   -171.40363   Jacksonville_St
 324   -173.26236   UC_Davis
 325   -173.51948   S_Dakota_St
 326   -181.70686   Alcorn_St
 327   -182.72624   St_Peter's
 328   -183.97839   Princeton
 329   -189.63921   Long_Beach_St
 330   -189.78177   St_Francis_PA
 331   -198.88054   TX_Southern
 332   -202.92185   Maine
 333   -207.11428   NC_Central
 334   -207.60898   Presbyterian
 335   -212.91359   Loy_Marymount
 336   -218.20517   Rice
 337   -226.14424   Howard
 338   -230.29934   CS_Sacramento
 339   -233.89577   Citadel
 340   -244.92484   North_Florida
 341   -250.33480   MD_E_Shore
 342   -307.76010   NJIT

### Calculate predictability of the method

In [7]:
numberCorrectPredictions = 0
for i in range(numGames):
    team1ID = games.loc[i, 2] - 1 
    team1Score = games.loc[i, 4]
    team2ID = games.loc[i, 5] - 1 
    team2Score = games.loc[i, 7]
    
    if team1Score > team2Score and eloRatings[team1ID] > eloRatings[team2ID]:
        numberCorrectPredictions += 1
    elif team2Score > team1Score and eloRatings[team2ID] > eloRatings[team1ID]:
        numberCorrectPredictions += 1
    elif team1Score == team2Score and eloRatings[team1ID] == eloRatings[team2ID]:
        numberCorrectPredictions += 1

print(f'Predictability: {numberCorrectPredictions/numGames*100:.2f}%')

Predictability: 74.59%